spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ranker_test?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  sql:
    init:
      mode: never  # Disable SQL init if you do not need schema.sql/data.sql
logging:
  level:
    org.hibernate.SQL: warn
