spring:
  application:
    name: ranker
  datasource:
    url: jdbc:mysql://localhost:3306/ranker
    username: root
    password: root
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update